body {
	border: none;
}

.gwt-CheckBox {
	color: #618bac;
	font-size: 12pt;
	padding-left: 13px;
}

.postTable {
	padding: 6px;
	white-space: nowrap;
	border: 1px solid #BBB;
	border-radius: 13px;
	-moz-border-radius: 13px;
	background: #D3DEF6 url(hotf/gwt/chrome/images/hborder.png) repeat-x 0px -989px;
}
